/* src/components/index.module.css */

/* Reset link styles */
a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 100px;
}


/* Hero section */
.hero {
  position: relative;
  text-align: center;
}

.heroBanner {
  width: 100%;
  height: 350px;
}



/* Add additional styles as needed */
/* .resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */